
<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
    <symbol id="icon-cart" viewBox="0 0 30 30">
        <path d="M18.898,23.059c-1.729,0-3.136,1.408-3.136,3.138s1.408,3.137,3.136,3.137c1.73,0,3.139-1.407,3.139-3.137
            S20.629,23.059,18.898,23.059z M18.898,27.224c-0.566,0-1.027-0.461-1.027-1.027c0-0.567,0.461-1.028,1.027-1.028
            c0.568,0,1.029,0.461,1.029,1.028C19.928,26.763,19.467,27.224,18.898,27.224z"/>
        <path d="M5.895,23.059c-1.731,0-3.139,1.408-3.139,3.138s1.408,3.137,3.139,3.137c1.729,0,3.135-1.407,3.135-3.137
            S7.623,23.059,5.895,23.059z M5.895,27.224c-0.568,0-1.03-0.461-1.03-1.027c0-0.567,0.462-1.028,1.03-1.028
            c0.566,0,1.026,0.461,1.026,1.028C6.92,26.763,6.46,27.224,5.895,27.224z"/>
        <path d="M28.936,0.001h-3.068c-0.484,0-0.908,0.33-1.023,0.801L24.1,3.798H1.055c-0.32,0-0.623,0.146-0.823,0.395
            c-0.2,0.251-0.276,0.577-0.207,0.89L2.94,18.189c0.107,0.481,0.535,0.825,1.029,0.825h16.355l-0.432,1.742H3.71
            c-0.582,0-1.055,0.472-1.055,1.055c0,0.582,0.473,1.055,1.055,1.055h17.009c0.484,0,0.906-0.33,1.023-0.801L26.691,2.11h2.244
            c0.584,0,1.055-0.473,1.055-1.055S29.52,0.001,28.936,0.001z M23.029,8.116c-0.002,0-0.002,0-0.002,0h-2.873l0.416-2.209h3.006
            L23.029,8.116z M21.908,12.635h-2.602l0.453-2.409h2.746L21.908,12.635z M3.33,10.226h2.852l0.452,2.409H3.865L3.33,10.226z
            M8.328,10.226h3.587v2.409H8.78L8.328,10.226z M11.916,8.116H7.932L7.517,5.907h4.398V8.116z M14.025,5.907h4.399L18.01,8.116
            h-3.985V5.907z M11.916,14.744v2.161H9.582l-0.405-2.161H11.916z M14.025,14.744h2.741l-0.406,2.161h-2.334V14.744z M14.025,12.635
            v-2.409h3.588l-0.453,2.409H14.025z M5.372,5.907l0.414,2.209H2.86L2.37,5.907H5.372z M4.334,14.744H7.03l0.406,2.161H4.815
            L4.334,14.744z M18.506,16.905l0.404-2.161h2.475l-0.537,2.161H18.506z"/>
    </symbol>
</svg>


<a href="{{ routes.cart_url }}" class="cart-link">
    <svg class="icon" aria-hidden="true" focusable="false">
        <use href="#icon-cart">
    </svg>
    {% if cart.item_count > 0 %}
        <div class="cart-items">
            <span>{{ cart.item_count }}</span>
        </div>
    {% endif %}
</a>