

{%- form 'localization', id: 'SelectLanguageForm', class: 'localization-form' -%}
    <div id="sp-lang-btn">
        {% if localization.language.iso_code == "ja" %}
            <span>JP</span>
        {% elsif localization.language.iso_code == "en" %}
            <span>EN</span>
        {% elsif localization.language.iso_code == "zh-CN" %}
            <span>CN</span>
        {% endif %}
        <div class="lang-selecter">
            <button type="button" onclick="language_selecter('ja')">JP</button>
            <button  type="button" onclick="language_selecter('en')">EN</button>
            <button  type="button" onclick="language_selecter('zh-CN')">CN</button>
        </div>
    </div>
{%- endform -%}

