

<div class="not-found">
    <div>
        <h1>{{ 'general.404.title' | t }}</h1>
        <p class="nf-sub">{{ 'general.404.subtext_html' | t }}</p>
        <div>
            <a href="{{ routes.root_url }}" class="return-top submit-btn">{{ 'general.404.return_top' | t }}</a>
        </div>
    </div>
</div>
