
<header class="c-header">
  <div class="shop-name">
    <a href="{{ routes.root_url }}">
      <img src="{{ 'brandlogo_black.png' | asset_img_url: '110x' }}" alt="{{ shop.name }}">
    </a>
  </div>
  <div class="c-lang-selecter">{% render 'select-language' %}</div>
</header>