{{ 'css_lookbook.css' | asset_url | stylesheet_tag }}

<div class="lookbook-container">
    <div class="look-image">
        <p>ここには写真が入ります</p>
    </div>
    <p>2024 AW collection</p>
    <div class="recent-look">
        <div class="recent">a</div>
        <div class="recent">b</div>
        <div class="recent">c</div>
    </div>
</div>

