{{ 'css_lookbook.css' | asset_url | stylesheet_tag }}

<div class="lookbook-container">
    <div class="top-container">
        <div class="look-image">
        </div>
        <p>{{ '2024 AW collection' }}</p>
    </div>
    
    <div class="recent-look">
        <div class="recent">
        </div>
        <div class="recent">

        </div>
        <div class="recent">

        </div>
    </div>
</div>

