

    <style>
    .cart-attribute__field{
    font-size: 12px;
    border: 1px solid #ee7801;
    width: 50%;
    padding: 8px 10px;
    margin-top: 12px;
    }
    .cart-textarea{
    width: 100%;
    padding: 8px;
    margin-top: 2px;
    }
    </style>
    <p class="cart-attribute__field">
    <span style=" font-weight: bold; border-bottom: 2px solid #ee7801; padding-bottom: 2px;"> Amazon Payをご利用のお客様はご確認ください</span><br>
Amazon Payの仕様上、配送伝票にご注文者の住所や氏名が記載されません。 <br>ギフトでAmazon Payをご利用の場合は、以下の入力欄に【ご注文者様のお名前】をご入力ください。<br>
Amazon Payでの決済に限り、配送伝票の備考欄にご注文者様のお名前を印字して発送させていただきます。<br>
  <label for="your-name"><span style=" font-weight: bold; ">ご注文者のお名前</span></label>　※ご自宅用の場合はご入力不要です<br>
  <textarea id="your-name" name="attributes[Your name]" placeholder="お名前を入力してください" class="cart-textarea">{{ cart.attributes["Your name"] }}</textarea>
</p>