
{{ 'css_blog.lookbook.css' | asset_url | stylesheet_tag }}

<div class="lookbook-detail-container">
  <div class="lookbook-detail-image">
    {% if article.image.src %}
      <div class="news-image"><img src="{{ article.image.src | img_url: '900x' }}"></div>
    {% endif %}
    {{ article.content }}
  </div>
</div>
